# This file is managed in the repository Qualifyze&#x2F;dev-infrastructure
# New updates of this file on  Qualifyze&#x2F;dev-infrastructure will automatically trigger new pull requests to up this file here
# You can still add small amendments here, but if any larger divergence is necessary, then it would be recommended
# to either disable this push-template in Qualifyze&#x2F;dev-infrastructure, or if this change is applicable to all repositories,
# edit it here https:&#x2F;&#x2F;github.com&#x2F;Qualifyze&#x2F;dev-infrastructure&#x2F;blob&#x2F;main&#x2F;templates&#x2F;editor-config.
[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
indent_size = 2
